:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-green: #9DFFE9;
}

body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: "Karla", sans-serif;
}