---
interface Props {
    text?: string;
    fontSize?: string;
    fontWeight?: string;
}

const { text, fontSize, fontWeight } = Astro.props;
---

<h1 class={`${fontSize} ${fontWeight}`}>
    {text} 
</h1>