---
import Title from "../atoms/Title.astro"

interface Props {
    key?: number;
    institution?: string;
    course?: string;
    startDate?: string;
    endDate?: string;
}

const { institution, course, startDate, endDate } = Astro.props;
---

<div class="ms-7">
    <p class="font-light">{startDate} - {endDate}</p>
    <Title text={institution} fontSize="text-[1.1rem]" fontWeight="font-bold"/>
    <p>{course}</p>
</div>