---
import Title from "../atoms/Title.astro";
import Icon from "../atoms/Icon.astro";

---

<div class="flex mt-12">
    <Title text="Hello!" />
    <Icon src="/helloHand.png" alt="hello" clase="ms-3 me-4"/>
    <Title text="I'm Trilce" />
</div>