---
import Title from "../atoms/Title.astro"
---

<div class="mt-10">
    <Title text="About" fontSize="text-[2.7rem]" fontWeight="font-extrabold"/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam harum illum tenetur adipisci amet inventore labore fuga perspiciatis vel ab! Esse amet sequi unde vel fugiat, iusto facere, temporibus mollitia explicabo velit illo incidunt in laudantium, veniam beatae at! Mollitia, aspernatur et. Aut, repudiandae! Error corporis voluptas numquam incidunt expedita, accusantium debitis ad cum deserunt magni maxime dicta, laborum officia rerum vitae inventore veniam consectetur sunt! Accusantium expedita doloribus fugit.</p>
</div>