---
import Presentation from "../molecules/presentation.astro";
---

<header>
    <Presentation />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur cumque vero omnis vitae praesentium? Dolorum fugit hic tenetur rem necessitatibus assumenda repellendus quam! Ratione, nam.</p>
</header>