---
import "../styles/globals.css";

interface Props {
	title: String;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&display=swap");
		</style>
		
		<script src="https://kit.fontawesome.com/c7f3ccba5e.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body>
		<main class="container mx-auto max-w-2xl">
			<slot/>
		</main>
	</body>
</html>

